In [ ]:
# Importing Packages to run Pandas

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

from sklearn.preprocessing import OneHotEncoder
from sklearn import metrics
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import (RandomTreesEmbedding, RandomForestClassifier,
                              GradientBoostingClassifier)
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVR

In [16]:


## Kyle Importing 2017 Roster

## Importing Roster as is, column 1 = 'ID', column 2 = 'Last, First'

Roster = pd.read_excel('C2018_CalcBC_Roster.xlsx')

# View headings of the roster
Roster.head()

          ID                   Last, First
0  306001000              Aboagye, Britney
1  301001336                Bakare, Monica
2  303001013  Brailsford-Forde, Taj-Jahnae
3  306001234            Butisingh, D'Andre
4  301001384              Cortes, Veronica

In [15]:
## Import AP Calculus Learning Objectives

APCalc_LO_Full = pd.read_excel('APCalculusLearningObjectives.xlsx')
APCalc_LO_Full.head()

APCalc_LearningObjectives = APCalc_LO_Full.loc[:,['Description','Standard Code']]
APCalc_LearningObjectives.head()

,Description,Standard Code
0,Express limits symbolically using correct nota...,UHAI.HS.APCalc.Limits.1A.Symbol
1,Estimate limits of functions,UHAI.HS.APCalc.Limits.1B.Estimate
2,Determine limits of functions,UHAI.HS.APCalc.Limits.1C.Determine
3,Deduce and interpret behavior using limits,UHAI.HS.APCalc.Limits.1D.Behavior
4,Analyze functions for intervals of continuity ...,UHAI.HS.APCalc.Limits.2A.Continuity

In [4]:
## Importing Info Sheet for Q3 IA (2016 Exam with Notes)

InfoSheet_Q3IA = pd.read_excel('17_18_Q3_Math_AP Calculus BC_TestInfoPage_mod.xlsx', sheet_name=2, skiprows=9)
InfoSheet_Q3IA = InfoSheet_Q3IA.applymap(str)
InfoSheet_temp = InfoSheet_Q3IA.loc[:,['Question Number','(Primary) Standard','(Secondary) OPTIONAL: Additional Standard', 'MC, OER (Question Group)', 'Correct Answer']] 
InfoSheet_Q3IA = InfoSheet_temp
InfoSheet_temp = None

# View Headings of Info Sheet
InfoSheet_Q3IA.head()

,Question Number,(Primary) Standard,(Secondary) OPTIONAL: Additional Standard,"MC, OER (Question Group)",Correct Answer
0,1,UHAI.HS.APCalc.Derivatives.1C.Calculate,UHAI.HS.Calc.03.ChainRule,MC,A
1,2,UHAI.HS.APCalc.Integrals.3B.Calculate,UHAI.HS.Calc.06.EvaluationTh,MC,C
2,3,UHAI.HS.APCalc.Derivatives.1C.Calculate,UHAI.HS.Calc.10.ParaSlope,MC,B
3,4,UHAI.HS.APCalc.Integrals.4A.Interpret,UHAI.HS.Calc.07.IntAntiChain,MC,D
4,5,UHAI.HS.APCalc.Derivatives.1C.Calculate,UHAI.HS.Calc.03.Implicit,MC,C

In [5]:
## Importing Info Sheet for 2014 Practice Exam Info Sheet

InfoSheet_2014 = pd.read_excel('2014_APCalcBC_Practice_Test.xlsx', skiprows=9)
InfoSheet_2014 = InfoSheet_2014.applymap(str)
InfoSheet_temp = InfoSheet_2014.loc[:,['Question Number','(Primary) Standard','(Secondary) OPTIONAL: Additional Standard', 'MC, OER (Question Group)', 'Correct Answer']] 
InfoSheet_2014 = InfoSheet_temp
InfoSheet_temp = None

# View Headings of Info Sheet
InfoSheet_2014.head()

,Question Number,(Primary) Standard,(Secondary) OPTIONAL: Additional Standard,"MC, OER (Question Group)",Correct Answer
0,1,UHAI.APCalc.Integrals.3B.Calculate,UHAI.Calc.07.IntSimplify,MC,C
1,2,UHAI.APCalc.Derivatives.1C.Calculate,UHAI.Calc.03.ChainRule,MC,B
2,3,UHAI.APCalc.Limits.1C.Determine,UHAI.Calc.05.L'Hopital's,MC,D
3,4,UHAI.APCalc.Integrals.3B.Calculate,UHAI.Calc.07.IntPartialFractions,MC,E
4,5,UHAI.APCalc.Limits.1B.Estimate,UHAI.Calc.01.LimGraph,MC,C

In [6]:
## Importing Info Sheet for 2015 Practice Exam Info Sheet

InfoSheet_2015 = pd.read_excel('2015_APCalcBC_Practice_Test.xlsx', skiprows=9)
InfoSheet_2015 = InfoSheet_2015.applymap(str)
InfoSheet_temp = InfoSheet_2015.loc[:,['Question Number','(Primary) Standard','(Secondary) OPTIONAL: Additional Standard', 'MC, OER (Question Group)', 'Correct Answer']] 
InfoSheet_2015 = InfoSheet_temp
InfoSheet_temp = None

# View Headings of Info Sheet
InfoSheet_2015.head()

,Question Number,(Primary) Standard,(Secondary) OPTIONAL: Additional Standard,"MC, OER (Question Group)",Correct Answer
0,1,UHAI.APCalc.Derivatives.1C.Calculate,nan,MC,A
1,2,UHAI.APCalc.Derivatives.1C.Calculate,nan,MC,C
2,3,UHAI.APCalc.Integrals.3B.Calculate,nan,MC,B
3,4,UHAI.APCalc.Integrals.2B.Approximate,nan,MC,D
4,5,UHAI.APCalc.Integrals.4D.AreaVolume,nan,MC,C

In [7]:
## Importing Info Sheet for 2016 Practice Exam Info Sheet

InfoSheet_2016 = pd.read_excel('2016_APCalcBC_Practice_Test.xlsx', sheet_name=2, skiprows=9)
InfoSheet_2016 = InfoSheet_2016.applymap(str)
InfoSheet_temp = InfoSheet_2016.loc[:,['Question Number','(Primary) Standard','(Secondary) OPTIONAL: Additional Standard', 'MC, OER (Question Group)', 'Correct Answer']] 
InfoSheet_2016 = InfoSheet_temp
InfoSheet_temp = None

# View Headings of Info Sheet
InfoSheet_2016.head()

,Question Number,(Primary) Standard,(Secondary) OPTIONAL: Additional Standard,"MC, OER (Question Group)",Correct Answer
0,1,UHAI.APCalc.Limits.1C.Determine,nan,MC,A
1,2,UHAI.APCalc.Derivatives.1C.Calculate,nan,MC,C
2,3,UHAI.APCalc.Series.1B.Sum,nan,MC,B
3,4,UHAI.APCalc.Derivatives.1C.Calculate,nan,MC,D
4,5,UHAI.APCalc.Integrals.4D.AreaVolume,nan,MC,C

In [8]:
## Importing Info Sheet for 2017 Practice Exam Info Sheet

InfoSheet_2017 = pd.read_excel('2017_APCalcBC_Practice_Test.xlsx', sheet_name=2, skiprows=9)
InfoSheet_2017 = InfoSheet_2017.applymap(str)
InfoSheet_temp = InfoSheet_2017.loc[:,['Question Number','(Primary) Standard','(Secondary) OPTIONAL: Additional Standard', 'MC, OER (Question Group)', 'Correct Answer']] 
InfoSheet_2017 = InfoSheet_temp
InfoSheet_temp = None

# View Headings of Info Sheet
InfoSheet_2017.head()

,Question Number,(Primary) Standard,(Secondary) OPTIONAL: Additional Standard,"MC, OER (Question Group)",Correct Answer
0,1,UHAI.APCalc.Derivatives.1C.Calculate,nan,MC,A
1,2,UHAI.APCalc.Integrals.3B.Calculate,nan,MC,C
2,3,UHAI.APCalc.Derivatives.1C.Calculate,nan,MC,B
3,4,UHAI.APCalc.Derivatives.3C.Applications,nan,MC,D
4,5,UHAI.APCalc.Series.1B.Sum,nan,MC,C

In [9]:
## Importing 16-17 Student Responses for Q3 IA (2016 Exam with Notes)

Responses_1617_Q3IA = pd.read_excel('1617_APCalcBC_Q3IA_studentresponses.xls')
#df1 = OldResponses.loc[:,'Local Student Id']
#df2 = OldResponses.loc[:,'Q1':'O6D']
#df1 = df1.to_frame() 
#df2 = df1.merge(df2,left_index = True,right_index = True)
#list2 = [df1, df2] 
#OldResponses = pd.concat(list2, axis=1)

# View Headings of Old Responses
Responses_1617_Q3IA.head()

,Local Student Id,Student Last Name,Student First Name,Student Grade Level,Date Taken,Points Correct,Points Possible,Percent Correct,Performance Band Label,Q1,...,O4B,O4C,O5A,O5B,O5C,O5D,O6A,O6B,O6C,O6D
0,306001153,Bedasse,Janiya,12,2017-03-31,38.0,100,38.0,0% - 45%,A,...,0,0,2,1,0,0,0,0,0,0
1,301001344,Daniels,Malik,12,2017-03-31,46.5,100,46.5,45% - 55%,A,...,1,3,2,2,3,0,0,0,0,0
2,303001210,Davis,Rebecca,12,2017-03-31,36.1,100,36.1,0% - 45%,A,...,0,3,2,0,0,0,0,0,0,0
3,301001281,Guzman,Jonathan,12,2017-03-31,38.3,100,38.3,0% - 45%,C,...,1,2,2,2,0,0,0,0,0,0
4,306001136,Hightower,Steven,12,2017-03-31,51.7,100,51.7,45% - 55%,A,...,0,3,2,2,2,0,3,2,0,0

In [10]:
## Create Mastery Matrix (rows = students, columns = standards)

In [11]:
## Importing 17-18 Student Responses for Q3 IA (2016 Exam with Notes)

Responses_1718_Q3IA = pd.read_excel('1718_APCalcBC_Q3IA_studentresponses.xls')
#Responses_1718_Q3IA = Responses_1718_Q3IA.applymap(str)
#df1 = NewResponses.loc[:,'Local Student Id']
#df2 = NewResponses.loc[:,'Q1':'O6D']
#list2 = [df1, df2] 
#NewResponses = pd.concat(list2, axis=1)

# View Headings of New Responses
Responses_1718_Q3IA.head()

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,Local Student Id,Student Last Name,Student First Name,Student Grade Level,Date Taken,Points Correct,Points Possible,Percent Correct,Performance Band Label,Q1,...,O4B,O4C,O5A,O5B,O5C,O5D,O6A,O6B,O6C,O6D
0,306001000,Aboagye,Britney,12,2018-03-29,28.2,108,26.11,0% - 45%,A,...,0,0,2,2,0,0,1,0,0,0
1,301001323,Acosta,Analia,12,2018-03-29,48.4,108,44.81,0% - 45%,C,...,0,3,2,2,0,0,1,0,0,0
2,301001331,Agbadou,Joshua,12,2018-03-29,33.0,108,30.56,0% - 45%,B,...,0,0,2,2,0,0,0,0,0,0
3,301001502,Akinpelu,Oluwapelumi,12,2018-03-29,69.2,108,64.07,55% - 65%,A,...,0,3,0,2,0,1,4,2,0,1
4,301001336,Bakare,Monica,12,2018-03-29,51.2,108,47.41,45% - 55%,B,...,0,0,2,2,0,0,3,0,0,0

In [12]:


## Create Mastery Matrix for Each Student Based off Combination of 2 Standards

In [13]:
## Create student combinations and calculate improvement in mastery

In [14]:
# Run Percent Correct on a given question

InfoSheet_mat = InfoSheet.as_matrix()
NewResponses_mat = NewResponses.as_matrix()
OldResponses_mat = OldResponses.as_matrix()
AnsColumn = InfoSheet.columns.get_loc("Correct Answer")

Question = 1
CorrectAns = InfoSheet_mat[Question-1, AnsColumn]
print('Correct Answer: ', CorrectAns)

nStudents = len(NewResponses_mat[:,1])
countCorrect = 0
for i in range(0, nStudents):
    if NewResponses_mat[i, Question] == CorrectAns:
        countCorrect += 1

percentCorrect = int((10000*countCorrect/nStudents))
percentCorrect = percentCorrect/100

print('Students Correct: ', countCorrect)
print('Perent Correct: ', percentCorrect, '%')

#old starts here

nStudents2 = len(OldResponses_mat[:,1])
countCorrect2 = 0
for i in range(0, nStudents2):
    if OldResponses_mat[i, Question] == CorrectAns:
        countCorrect2 += 1

percentCorrect2 = int((10000*countCorrect2/nStudents2))
percentCorrect2 = percentCorrect2/100

print('Students Correct: ', countCorrect2)
print('Perent Correct: ', percentCorrect2, '%')

NameError: name 'InfoSheet' is not defined

In [ ]:
APResults1617 = pd.read_excel('1617_BC Scores_mod.xlsx')
APResults1617 = APResults1617.applymap(str)

df1 = APResults1617.loc[:,'Local Student Id']
df2 = APResults1617.loc[:,'Overall Score']
list3 = [df1, df2]
APResults1617 = pd.concat(list3, axis=1)
APResults1617.head

#OldResponses = pd.read_excel('1617_APCalcBC_Q3IA_studentresponses.xls')
#OldResponses = OldResponses.applymap(str)
#df1 = OldResponses.loc[:,'Local Student Id']
#df2 = OldResponses.loc[:,'Q1':'O6D']
#list2 = [df1, df2] 
#OldResponses = pd.concat(list2, axis=1)

#OldResponses.head

In [ ]:
OldMultipleChoice = OldResponses.loc[:,'Q1':'Q90']

SparseQuestions = pd.Series([]);
question = 0
for i in OldMultipleChoice.columns.values:
    SparseQuestions[question] = i + "A"
    SparseQuestions[question+1] = i + "B"
    SparseQuestions[question+2] = i + "C"
    SparseQuestions[question+3] = i + "D"
    question = question + 4;

SparseResponses = pd.DataFrame(0,OldMultipleChoice.index.values,SparseQuestions)

for m in OldMultipleChoice.index:
    for i in OldMultipleChoice.columns.values:
        if OldMultipleChoice.loc[m,i] == "A":
            SparseResponses.loc[m,i + "A"] = 1    
        elif OldMultipleChoice.loc[m,i] == "B":
            SparseResponses.loc[m,i + "B"] = 1    
        elif OldMultipleChoice.loc[m,i] == "C":
            SparseResponses.loc[m,i + "C"] = 1     
        elif OldMultipleChoice.loc[m,i] == "D":
            SparseResponses.loc[m,i + "D"] = 1    
            
SparseResponses

In [ ]:
NewMultipleChoice = NewResponses.loc[:,'Q1':'Q90']

SparseQuestions2 = pd.Series([]);
question = 0
for i in NewMultipleChoice.columns.values:
    SparseQuestions2[question] = i + "A"
    SparseQuestions2[question+1] = i + "B"
    SparseQuestions2[question+2] = i + "C"
    SparseQuestions2[question+3] = i + "D"
    question = question + 4;

SparseResponses2 = pd.DataFrame(0,NewMultipleChoice.index.values,SparseQuestions2)

for m in NewMultipleChoice.index:
    for i in NewMultipleChoice.columns.values:
        if NewMultipleChoice.loc[m,i] == "A":
            SparseResponses2.loc[m,i + "A"] = 1    
        elif NewMultipleChoice.loc[m,i] == "B":
            SparseResponses2.loc[m,i + "B"] = 1    
        elif NewMultipleChoice.loc[m,i] == "C":
            SparseResponses2.loc[m,i + "C"] = 1     
        elif NewMultipleChoice.loc[m,i] == "D":
            SparseResponses2.loc[m,i + "D"] = 1
            
SparseResponses2

In [ ]:
X = OldResponses.replace("nan", 0)
X = X.loc[:,'O1A':'O6D']
X = X.join(SparseResponses)

Z = NewResponses.replace("nan", 0)
Z = Z.loc[:,'O1A':'O6D']
Z = Z.join(SparseResponses2)

y = APResults1617.loc[:,'Overall Score']

X

In [ ]:
## Convert MC Responses to Binary

BooleanResponses = pd.DataFrame(0,OldMultipleChoice.index.values,OldMultipleChoice.columns.values)
question = 0
for m in OldMultipleChoice.index:
    for i in OldMultipleChoice.columns.values:
        if OldMultipleChoice.loc[m,i] == InfoSheet.loc[question,'Correct Answer']:
            BooleanResponses.loc[m,i] = 1    
        else:
            BooleanResponses.loc[m,i] = 0
        question = question + 1
    question = 0
   
BooleanResponses2 = pd.DataFrame(0,NewMultipleChoice.index.values,NewMultipleChoice.columns.values)
question = 0
for m in NewMultipleChoice.index:
    for i in NewMultipleChoice.columns.values:
        if NewMultipleChoice.loc[m,i] == InfoSheet.loc[question,'Correct Answer']:
            BooleanResponses2.loc[m,i] = 1    
        else:
            BooleanResponses2.loc[m,i] = 0
        question = question + 1
    question = 0

In [ ]:
### Create Student/MC/FRQ DataFrame

SectionSummary = pd.DataFrame(0,OldResponses.index.values,columns=['ID','MC','FRQ'])
SectionSummary.loc[:,'ID'] = OldResponses.loc[:,'Local Student Id']
FRQs = OldResponses.loc[:,'O1A':'O6D'].applymap(float)

### Find MC/FRQ Percentage
for m in SectionSummary.index:
    SectionSummary.loc[m,'MC'] = np.rint(sum(BooleanResponses.loc[m,:])/45*100)
    SectionSummary.loc[m,'FRQ'] = np.rint(sum(FRQs.loc[m,'O1A':'O6D'])/54*100)
SectionSummary

### Create Student/MC/FRQ DataFrame

SectionSummary2 = pd.DataFrame(0,NewResponses.index.values,columns=['ID','MC','FRQ'])
SectionSummary2.loc[:,'ID'] = NewResponses.loc[:,'Local Student Id']
FRQs2 = NewResponses.loc[:,'O1A':'O6D'].applymap(float)

### Find MC/FRQ Percentage
for m in SectionSummary2.index:
    SectionSummary2.loc[m,'MC'] = np.rint(sum(BooleanResponses2.loc[m,:])/45*100)
    SectionSummary2.loc[m,'FRQ'] = np.rint(sum(FRQs2.loc[m,'O1A':'O6D'])/54*100)
SectionSummary2

In [ ]:
plt.plot(SectionSummary.loc[:,'MC'],SectionSummary.loc[:,'FRQ'], 'rx')
plt.plot(SectionSummary2.loc[:,'MC'],SectionSummary2.loc[:,'FRQ'], 'bo')
plt.show()

In [ ]:
clf = RandomForestRegressor(max_depth=10, max_features="log2", random_state=0)

clf.fit(X, y)
score = metrics.r2_score(clf.predict(X), y)

print(clf.feature_importances_)
print(score)

print(clf.predict(Z))

In [ ]:
dlf = RandomForestClassifier(max_depth=2, random_state=0)

dlf.fit(X, y)
score = metrics.r2_score(dlf.predict(X), y)

print(dlf.feature_importances_)
print(score)

print(dlf.predict(Z))

In [ ]:
X2 = OldResponses.replace("nan", 0)
X2 = X2.loc[:,'O1A':'O6D']
X2 = X2.join(BooleanResponses)

Z2 = NewResponses.replace("nan", 0)
Z2 = Z2.loc[:,'O1A':'O6D']
Z2 = Z2.join(BooleanResponses2)

y2 = APResults1617.loc[:,'Overall Score']

X2

In [ ]:
X3 = pd.DataFrame

In [ ]:
elf = RandomForestRegressor(max_depth=10, max_features="auto", random_state=3)

elf.fit(X2, y2)
score = metrics.r2_score(elf.predict(X2), y2)

print(elf.feature_importances_)
print(score)

print(elf.predict(Z2))

In [ ]:
flf = SVR(kernel="linear")
#flf = LinearRegression()

flf.fit(X2, y2)
print(flf.get_params())
score = metrics.r2_score(flf.predict(X2), y2)

#print(elf.feature_importances_)
print("The r2 of the original function is ", score)
print(y2)
print(flf.predict(X2))

print()
print("The predicted scores are:")
print(flf.predict(Z2))
print(sum(flf.predict(Z2)>3))
print((sum(flf.predict(Z2)>3))/36)

In [ ]:
# Plot outputs

In [ ]:
#This merges the test data with student roster so we can eventually do things like compare one teacher's students
#to another's

# FullData = pd.merge(CalcRoster2, IAFake, how='inner', on='Student Name')
# FullData